<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Hall Details</h5>
    <!-- Active Table -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Hall Name</th>
          <th scope="col">Number of Benches</th>
          <th scope="col">Maximum capacity</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        {{#each halls}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.hall_no}}</td>
          <td>{{this.bench}}</td>
          <td>{{this.maxCapacity}}</td>
          <td>
            <a class="btn btn-danger" href="/admin/update-dept/{{this._id}}">Update</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <!-- End Active Table -->

  </div>
</div>