<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">view-assignments</h5>
    <!-- Active Table -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Topic</th>
          <th scope="col">Subject Name</th>
          <th scope="col">Date of Submission</th>
          <th scope="col">Assignment Status</th>
           
        </tr>
      </thead>
      <tbody>

        {{#each assigmentdata}}
        <tr>
          <th scope="row">{{@index}}</th>
 
          <td>{{this.topic}}</td>
          <td>{{this.sub_name}}</td>
          <td>{{this.last_date}}</td>
          {{#if statuscode}}
           <td>active</td>
          {{else}}
          <td>not active</td>

          {{/if}}
        </tr>
       

        {{/each}}
      </tbody>
    </table>
    <!-- End Active Table -->

  </div>
</div>