<form method="post" action="/staff/assign-notes/">
    <h5 class="card-title">Subject</h5>

     <div class="row mb-12">
        <label for="exampleFormControlInput1"></label>
        
         
  <select class="form-select " id="mediaSel" name="mediaSel" onchange="dropDownSelect(this.id, 'mediaSel2')">
           <option value="">-Select-Module-</option>
           <option value="module1" name="Illustration">Module1</option>
           <option value="module2" name="GraphicDesign">Module2</option>
           <option value="module3" name="MotionGraphics">Module3</option>
           <option value="module4" name="WebDesign">module4</option>
             <option value="module5" name="module5">module5</option>
           </select>
          
 

             
           <select class="form-select mt-3" id="mediaSel2" onclick=" this.form.submit()" name="Module_Data"></select>
                </td><td class="buttonRow">
           <div id="addRow" class="addButton" onclick="addSelection()"><span class="plus"></span></div>
            {{!-- {{#each module1}}
            <option value='{{this}}'>{{this}}</option>



            {{/each}} --}}
     
            <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3"> </label>
        <textarea class="form-control" name="notes " id="exampleFormControlTextarea3" rows="7">{{Answer}}</textarea>
     <br><br>
     </div>
   
   <button type="submit" class="btn btn-success">Add</button>
 
  </form>     
    </div>
    
 




      <script>

function dropDownSelect(s1,s2) {
    var s1 = document.getElementById(s1);
    var s2 = document.getElementById(s2);
    var hideSel = document.getElementById("mediaSel2");
    s2.innerHTML = "";

    if(s1.value == "module1") {
             var optionArray = [`{{module1}}|{{module1}}` ];
    }
     else if(s1.value == "module2") {
             var optionArray = [`{{module2}}|{{module2}}` ];
    }
    else if(s1.value == "module3") {
       var optionArray = [`{{module3}}|{{module3}}` ];
    }
    else if(s1.value == "module4") {
       var optionArray = [`{{module4}}|{{module4}}`];
    }
    else if(s1.value == "module5"){
          var optionArray = [`{{module5}}|{{module5}}` ];
    }

    if(s1.value == "module1" || s1.value == "module2" || s1.value == "module3" || s1.value == "module4" || s1.value == "module5") {
      s2.style.display="inline-block";
    } else {
      s2.style.display="none"; 
    }

    for(var option in optionArray) {
        var pair = optionArray[option].split("|");
        var newOption = document.createElement("option");
        newOption.value = pair[0];
        newOption.innerHTML = pair[1];
        s2.options.add(newOption);
    }
}
    </script>

    <script>
        function addSelection() {
    var html = '... onchange='this.form.submit()';

    $('tbody').append(html);
}
    </script>

    
           <script>
        function addSelection() {
    var html = '... onchange="dropDownSelect2(this.id, \"topic\")"><option ...';

    $('tbody').append(html);
}
    </script>
    


<script>


   function changeFunc() {
    var selectBox = document.getElementById("mediaSel2");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    alert(selectedValue);

    submitHandler(selectedValue)
   }

function submitHandler (data) {
 

  $.ajax({
    url: '/assign-notes/',
    type:'POST',
    data: $form.serialize()
  }).done(response => {
    console.log(response)
  })
}
</script>



{{!-- Script for Ajax Refferal --}}
{{!-- <script>


    function GetSubject(deptId) {
        var id = deptId.value;

        //alert(id);
        selectSub(id);
    }

    function selectSub(deptId) {

        var id = deptId
        $.ajax({
            url: '/admin/get-sub/' + id,
            method: "GET",
            success: ((response) => {
                if(document.getElementById("subject").disabled == true){
                    location.reload();
                }
                if (response.length == 0) {
                    alert("NO subject found")
                    document.getElementById("subject").disabled = true;
                }
                else if (response) {
                    document.getElementById("subject").disabled = false;
                    var dropdown = document.getElementById("subject");
                    //add each options to dropdown
                    for (var i = 0; i < response.length; i++) {
                        var opt = document.createElement("option");
                        opt.text = response[i].sub_name;
                        opt.value = response[i]._id+","+response[i].modules;
                        dropdown.options.add(opt);
                    }

                    //insert the drop generated drop down
                    var container = document.getElementById("subject");
                    container.appendChild(dropdown);
                } else {
                    alert("Something error occured");
                }
            })
        })
    }


</script> --}}