<form method="post" action="/staff/assign-notes/">
    <h5 class="card-title">Subject</h5>

    <div class="form-group">
        <label for="exampleFormControlInput1"></label>
        <select id="Module1" name="Module1" onchange="this.form.submit()" class="form-select"
            aria-label="Default select example">
            <option value='' selected>Module 1</option>
            {{#each module1}}
            <option value='{{this}}'>{{this}}</option>
            {{/each}}
        </select>
    </div>
   
    <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3"> </label>
        <textarea class="form-control" name=" " id="exampleFormControlTextarea3" rows="7">{{Answer}}</textarea>
    </div>
  


    <div class="form-group">
        <label for="exampleFormControlInput1"> </label>
        <select id="Module2" name="Module2" onchange="this.form.submit()" class="form-select"
            aria-label="Default select example">
            <option value='' selected>module 2</option>
            {{#each module2}}
            <option value='{{this}}'>{{this}}</option>
            {{/each}}
        </select>
    </div>
 
    <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3"> </label>
        <textarea class="form-control" name=" " id="exampleFormControlTextarea3" rows="7">{{Answer1}}</textarea>
    </div>

    
    <div class="form-group">
        <label for="exampleFormControlInput1"> </label>
        <select id="Module3" name="Module3"  onchange="this.form.submit()" class="form-select"
            aria-label="Default select example">
            <option value='' selected>module 3 </option>
            {{#each module3}}
            <option value='{{this}}'>{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3"> </label>
        <textarea class="form-control" name=" " id="exampleFormControlTextarea3" rows="7">{{Answer3}}</textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1"> </label>
   <select id="Module4" name="Module4"  onchange="this.form.submit()" class="form-select"
            aria-label="Default select example">
            <option value='' selected>module 4</option>  <button>
            {{#each module4}}
            <option value='{{this}}'>{{this}}</option></button>  
            {{/each}}
        </select> 
    </div>
 
    <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3"> </label>
        <textarea class="form-control" name=" " id="exampleFormControlTextarea3" rows="7">{{Answer4}}</textarea>
    </div>
         <div class="form-group">
        <label for="exampleFormControlInput1"> </label>
   <select id="Module5" name="Module5"   onchange="this.form.submit()" class="form-select"
            aria-label="Default select example">
            <option value='' selected>module 5</option>  <button>
            {{#each module5}}
            <option value='{{this}}'>{{this}}</option></button>  
            {{/each}}
        </select> 
    </div>
    <div id="modules" class="form-group">
        <label for="exampleFormControlTextarea3"> </label>
        <textarea class="form-control" name=" " id="exampleFormControlTextarea3" rows="7">{{Answer5}}</textarea>
    </div>
    <br><br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script>


   function changeFunc() {
    var selectBox = document.getElementById("selectBox");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    alert(selectedValue);

    submitHandler(selectedValue)
   }

function submitHandler (data) {
 

  $.ajax({
    url: '/assign-notes/',
    type:'POST',
    data: $form.serialize()
  }).done(response => {
    console.log(response)
  })
}
</script>



{{!-- Script for Ajax Refferal --}}
{{!-- <script>


    function GetSubject(deptId) {
        var id = deptId.value;

        //alert(id);
        selectSub(id);
    }

    function selectSub(deptId) {

        var id = deptId
        $.ajax({
            url: '/admin/get-sub/' + id,
            method: "GET",
            success: ((response) => {
                if(document.getElementById("subject").disabled == true){
                    location.reload();
                }
                if (response.length == 0) {
                    alert("NO subject found")
                    document.getElementById("subject").disabled = true;
                }
                else if (response) {
                    document.getElementById("subject").disabled = false;
                    var dropdown = document.getElementById("subject");
                    //add each options to dropdown
                    for (var i = 0; i < response.length; i++) {
                        var opt = document.createElement("option");
                        opt.text = response[i].sub_name;
                        opt.value = response[i]._id+","+response[i].modules;
                        dropdown.options.add(opt);
                    }

                    //insert the drop generated drop down
                    var container = document.getElementById("subject");
                    container.appendChild(dropdown);
                } else {
                    alert("Something error occured");
                }
            })
        })
    }


</script> --}}