<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">view-assignments</h5>
    <p> Assignments of Students.</p>
    <!-- Active Table -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">AssignmentName</th>
          <th scope="col">Assignment  </th>
           
        </tr>
      </thead>
      <tbody>

        {{#each Assignmentdata}}
        <tr>
          <th scope="row">{{@index}}</th>
 
          <td>{{this.NameofStudent}}</td>
          <td>{{this.NameofAssignment}}</td>
          <td>{{this.Assignment}}</td>
           <td> <a href="/staff/mark-Assignment/{{this._id}}"  class="btn btn-primary ">check</a></td>
           
        </tr>
       

        {{/each}}
      </tbody>
    </table>
    <!-- End Active Table -->

  </div>
</div>